<%- include('partials/header') %>


<%- include('partials/nav') %>

  <div class="container centered">
    <h2  class="m-2">Referrals</h2>
    <h5 class="m-2">Track Candidates you have referred for Job Openings.</h5>
    <a class="btn btn-light btn-sm m-2" href="/addreferrals" role="button"><i class="fa fa-plus pr-1" aria-hidden="true"></i>Refer a Candidate</a>
  </div>


<%- include('partials/footer') %>